body {
	font-family: 'Lato', sans-serif;
	color: #757547;
	font-weight: 300;
}

hr {
	height: 2px;
	background-color: #bcbbbb;
}

.container {
		max-width: 1024px;
}

.text-muted {
	color: #bcbbbb;
}
.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 60px;
	font-weight: 300;
}
.title-logo {
	margin-top: 20px;
}
